@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reportes Personal";
}

<div class="container mt-4">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <div class="table-responsive mt-4">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th>Objetivo Evaluado</th>
                    <th>Observaciones</th>
                    <th>Nota Final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gestión de Tiempo</td>
                    <td>Finaliza tareas antes de la fecha límite</td>
                    <td>92</td>
                </tr>
                <tr>
                    <td>Iniciativa</td>
                    <td>Propone mejoras continuamente</td>
                    <td>89</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-danger">Descargar Reporte en PDF</button>
</div>