
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form method="post" action="/Auth/VerificarCodigo">
    <!-- obtiene la cedula del tempdata -->
    <input type="hidden" name="cedula" value="@TempData["Cedula"]" />
    <label class="form-label" for="codigoSeguridad">Ingrese el código de seguridad:</label>
    <input type="text" class="form-control" id="codigoSeguridad" name="codigoSeguridad" required />
    <button type="submit" class="btn-login btn btn-primary w-100 mt-3">Verificar</button>
</form>
