@model List<Modelos.FuncionarioXConglomeradoModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Seleccionar Conglomerado Subalterno ";
}

<div class="container mt-4 mb-5">
    <h2 class="mb-3">Seleccione el conglomerado a Evaluar para este funcionario:</h2>

    @* Muestra un mensaje de error si TempData["Error"] existe *@
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }

    <p>Por favor, seleccione de la siguiente lista el conglomerado al que desea evaluar.</p>

    <form method="get" asp-action="EvaluacionSubalterno">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Seleccionar</th>
                    <th>Conglomerado</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var listaConglomerados = ViewData["ListaConglomerados"] as List<Modelos.ConglomeradoModel>;
                }
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var sub in Model)
                    {
                        var nombreConglomerado = listaConglomerados?.FirstOrDefault(c => c.IdConglomerado == sub.IdConglomerado)?.NombreConglomerado ?? "Desconocido";

                        <tr>
                            <td>
                                <input type="radio" name="cedula" value="@sub.IdFuncionario" />
                            </td>
                            <input type="hidden" name="idConglomerado" value="@sub.IdConglomerado" />
                            <td>@nombreConglomerado</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" class="text-center">
                            No se encontraron Conglomerados registrados.
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                Continuar
            </button>
        </div>
    </form>
</div>
