@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Modificar Puesto";
}

<div class="container mt-4">
    <h2 class="mb-4">Modificar Puesto</h2>

    <form method="post" action="/Mantenimientos/ModificarPuesto" class="form">
        <div class="mb-3">
            <label for="nombrePuesto" class="form-label">Nombre del Puesto</label>
            <input type="text" class="form-control" id="nombrePuesto" name="nombrePuesto" value="@Model.Puesto" required>
        </div>

@*         para que pueda cargar el puesto con el id
 *@        <input type="hidden" name="idPuesto" value="@Model.idPuesto">

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="/Mantenimientos/ManteniPuestos" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
