@model Modelos.MetaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Editar Meta";
}

<div class="container mt-4">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <form asp-action="EditarMeta" method="post">
        <input type="hidden" id="IdMeta" asp-for="IdMeta">
        <div class="mb-3">
            <label for="Meta" class="form-label">Nombre del Objetivo</label>
            <input type="text" id="Meta" class="form-control" asp-for="Meta" required pattern=".*\S.*" maxlength="255">
        </div>
        <div class="mb-3">
            <label for="Porcentaje" class="form-label">Porcentaje</label>
            <input type="number" id="Porcentaje" class="form-control" asp-for="Porcentaje" required min="0" max="100">
        </div>
        <div class="d-flex justify-content-between">
            <a href="/Mantenimientos/ManteniMetas" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Guardar Cambios
            </button>
        </div>
    </form>
</div>
