@model Modelos.ObjetivoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Editar Objetivo";
}

<div class="container mt-4">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <form asp-action="EditarObjetivo" method="post">
        <input type="hidden" id="objetivoId" asp-for="IdObjetivo">
        <div class="mb-3">
            <label for="nombreObjetivo" class="form-label">Nombre del Objetivo</label>
            <input type="text" id="nombreObjetivo" class="form-control" asp-for="Objetivo" required maxlength="255">
        </div>
        <div class="mb-3">
            <label for="porcentaje" class="form-label">Porcentaje</label>
            <input type="number" id="porcentaje" class="form-control" asp-for="Porcentaje" required min="0" max="100">
        </div>
        <div class="mb-3">
            <label for="tipoObjetivo" class="form-label">Tipo de Objetivo</label>
            <select id="IdTipoObjetivo" name="IdTipoObjetivo" class="form-control" asp-for="IdTipoObjetivo">
                <option value="1">Objetivo Departamentales</option>
                <option value="2">Objetivo Individual</option>
                <option value="3">Objetivos y Metas del PEI y POI</option>
            </select>
        </div>
        <div class="d-flex justify-content-between">
            <a href="/Mantenimientos/GestionObjetivos" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Guardar Cambios
            </button>
        </div>
    </form>
</div>
