@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SideMenu {
    <ul class="sidebar-menu">
        <li><a href="/Mantenimientos/ManteniConglomerados">Conglomerados</a></li>
        <li><a href="/Mantenimientos/ManteniDepartamentos">Departamentos</a></li>
        <li><a href="#">Funcionarios</a></li>
        <li><a href="/Mantenimientos/GestionObjetivos ">Objetivos</a></li>
        <li><a href="#">Metas</a></li>
        <li><a href="#">Competencias</a></li>
        <li><a href="#">Puestos</a></li>
        <li><a href="#">Modificar logo</a></li>
    </ul>
}

<div class="welcome">
    <img src="~/assets/img/logo.jpg" alt="Gobierno Logo" />
    <h2>Bienvenido al SEDEP</h2>
</div>
